@import "tailwindcss";

@theme {
  --animate-marquee: marquee 40s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
}

.animate-marquee:hover {
  animation-play-state: paused;
}